.logo-header{
	float:left;
	margin-right:8px;
	display: inline-block;
	width: 40px;
}
#header-container h5{
	display: inline-block;
	float: left;
}
#login-form{
	margin:0 auto;
	text-align: center;
}
#login-form form{
	width: 400px;
	margin:0 auto;
	text-align: left;
	padding-left: 140px;
	padding-top:30px;

}
.imagetext .text-big{
font-size: 50px;
line-height: 76px;
text-align: left;
overflow: hidden;
padding-left: 7px;
}
.image-wrapper .text-big{
	font-size: 50px;
	line-height: 76px;
}
.imagetext .text-biggest{
	font-size: 65px;
	line-height: 76px;
}
.imagetext .text{
	padding-left: 20px;
}
.metro-sections h5{
	margin-left: 5px;
	margin-top:5px;
}
.metro .tile.statistic{
	cursor: text;
}
.metro .tile.statistic:hover,.metro .tile.bg-color-empty:hover{
	cursor: text;
	outline: none;
}
.metro .tile.fullwidth.imagetext{
	width: 92%;
	height: 80px;
}

.metro .tile.fullwidth.imagetext .image-wrapper{
	width: 50%;
}
.metro .tile .text-small{
	font-size: 15px;
	padding-left: 5px;
}
.metro .tile.bg-color-empty{
	background-color:transparent;
}
.fontGreen{
	color: #3cad39;
}
.fontRed{
	color: #BC1C4B;
}
.fontGray{
	color: #8a8a8a;
}
.fontBold{
	font-weight: bold;
}
.fontRed{
	color:#bc1c48;
}
th.align-center{
	text-align: center;
}
#content-filters{
	border-top: 1px solid #BEBEBE;
	padding-top: 7px;
	margin-bottom: 7px;
}
#content-filters h5{
	margin-top: -23px;
	background-color: #fff;
	padding: 5px 5px 5px 10px;
	width: 68px;
	margin-bottom: 10px;
}
td a.icon-{
	display: block;
	width: 120px;
	padding-bottom:9px; 
}
td a.icon-:hover span{
	text-decoration: underline;
}
td a.icon- i{
	float: left;
	width: 20px;
	color: #717171;
}
td a.icon-:hover i{
	color: #CD4900;	
}

a.icon- span{
	font-family: "Open Sans",Arial,Helvetica,Sans-Serif;
	font-weight: 300;
	color: #333;
	font-size: 12px;
	display: inline-block;
	float: left;

}
.rightPosition{
	float: right;
	margin-right: 10px;
}
span.activity-list[rel="tooltip"]{
	font-family: "Open Sans",Arial,Helvetica,Sans-Serif;
}
.dropdown-menu ul li{
	list-style-type: none;
}
.navbar-fixed-bottom .row{
	padding-left: 30px;
}
.masterDataTable .nationality small{
	color: #7f7f7f;
}
.attendeeDetails .span4{
	color: #7f7f7f;
}
.attendeeDetails .span8{
	margin-bottom: 5px;
}
.paidStatus{
	padding:18px 12px;
	background-color: #2c965e;
	-moz-transform: rotate(355deg);
	-o-transform: rotate(355deg);
	-webkit-transform: rotate(355deg);
	transform: rotate(355deg);
	display: inline-block;
	position: absolute;
	top:50px;
	right: 20px;

}

.paidStatus strong{
	color: #fff;
	margin-top: 3px;
	border: 1px solid #fff;
	padding:7px 25px;
}
.paidStatus.unpaid{
	background-color: #bc1c48;
}
.attendeeDetails img.barcode2{
	width: 150px;
	
	position: absolute;
	top:140px;
	right: 20px;
}

.attendeeDetails img.barcode{
	width: 160px;
	margin-bottom: 10px;
}
.dataTables_wrapper{
	position: relative;
}
.dataTables_paginate{
	float: left;
	position: absolute;
	top:20px;
	right: 10px;
}
.dataTables_paginate a.paginate_button,.dataTables_paginate span a{
	float: left;
	padding: 4px 12px;
	line-height: 20px;
	text-decoration: none;
	background-color: #ffffff;
	border: 1px solid #dddddd;
	border-left-width: 0;
	cursor: pointer;
}
.dataTables_paginate a.first.paginate_button{
	border-left-width: 1px;
}

.dataTables_paginate a.paginate_button:hover,.dataTables_paginate span a:hover,.dataTables_paginate a.paginate_active{
	background-color: #f5f5f5;
}
.dataTables_info{
	float: right;
}
.dataTables_length{
	width: auto;
	display: block;
	float: left;
	padding-right: 20px;	
	margin-top: 0px;
}
.dataTables_length select{
	width: 50px;
	margin-top:10px;
}
.dataTables_length label,.dataTables_length select,.dataTables_filter label{
	font-weight: 300;
	font-size: 11px;
}
.dataTables_filter{
	margin-top: 18px;
}
.dataTables_filter input{
	margin-top: 7px;
	font-size: 11.5px;	
}
.dataTables_filter label{
	display: inline-block;
}
.dataTables_info{
	position: absolute;
	top:60px;
	right: 10px;
}
.dataTables_filter{
	width: 50%;
	display: block;
	float: left;
}
.formNewAttendee .row-fluid{
	margin-bottom: 7px;
}
 label{
	font-size: 12px;
	font-family: "Open Sans",Arial,Helvetica,Sans-Serif;
}
.right{
	float: right;
}
.formHead{
	margin-bottom: 7px;
}
.inputInline .row-fluid{
	width: auto;
	display: inline-block;
}
.inputInline .row-fluid:first{
	width:70%;
}
.inputInline #city,.inputInline #cityInv{
	width: 340px;
}
.inputInline #zip{
	width: 76px;
}
span.error{
	display: block;
	color: #b94a48;
	margin-bottom: 4px;
}
.dataTable{
	position: relative;
	margin-top: 50px;
	float: left;
}
.dataTables_wrapper{
	position: relative;
}
.dataTables_processing{
	display: inline-block;
	width: 23px;
	height: 27px;
	margin: 4px 10px 5px;
	background: transparent url("../img/progress-indeterminate-ring-light-small.gif") no-repeat 10px 7px;
	padding-left: 37px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 60px;
	position: absolute;
	left: 40%;
    top:200px;
    background-color: #fff;
    border: 1px solid #6f6f6f;
    z-index: 10000;
}
.table-condensed td.details-expand{
	background-color: #ebebeb;
	position: relative;
	padding: 20px;
	margin-bottom: 20px;
	
}
span.expander{
	cursor: pointer;
	border-bottom: 1px dotted #dadada;
}
.details-expand .irc_pc{
	border-bottom: 20px solid #ebebeb;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	height: 0;
	position: absolute;
	top: -20px;
	left: 400px;
	width: 0;
}

.paymentStatusTable{
	text-transform: uppercase;
}
table.table thead .sorting,
table.table thead .sorting_asc,
table.table thead .sorting_desc,
table.table thead .sorting_asc_disabled,
table.table thead .sorting_desc_disabled {
	cursor: pointer;
	*cursor: hand;
}
#searchinput input[type="text"]{
	font-size: 11px;
	margin-bottom: 10px;
	margin-top: 10px;
}
#searchinput{
	background-color: #f7f7f7;
}
.search_init {
	width: 100px;
	
}
thead #searchinput td{
	padding: 7px 5px;
	min-height: 0;
	
}
.icon- .pay,.icon- .del,.icon- .pbadge{
	cursor: pointer;
}
.attendeeTable label.checkbox input[type=checkbox]:checked ~ span.metro-checkbox::after{
	font-size: 9px;
	border: 1px solid #BABABA;
	width: 12px;
	height: 16px;
	padding-left: 3px;
}

.attendeeTable label.checkbox input[type=checkbox] ~ span.metro-checkbox::after {
	font-size: 9px;
	border: 1px solid #BABABA;
	width: 12px;
	height: 16px;
	padding-left: 3px;
}
span.add_to_group{
background-color: transparent;
background-image: linear-gradient(top,#f5f5f5,#f1f1f1);
background-image: -moz-linear-gradient(top,#f5f5f5,#f1f1f1);
background-image: -o-linear-gradient(top,#f5f5f5,#f1f1f1);
background-image: -webkit-gradient(linear,left top,left bottom,from(#f5f5f5),to(#f1f1f1));
background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
background-image: -ms-linear-gradient(top,#f5f5f5,#f1f1f1);
border: 1px solid rgba(0,0,0,0.1);
color: #696969;
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px;
cursor: default;
font-size: 11px;
font-weight: bold;
text-align: center;
white-space: nowrap;
margin-right: 16px;
height: 27px;
line-height: 27px;
min-width: 54px;
outline: 0;
padding: 0 8px;
font-weight: normal;
position: absolute;
top:-42px;
left: 0;
cursor: pointer;
}

span.add_to_group:hover{
background-color: transparent;
background-image: linear-gradient(top,#fafafa,#f7f7f7);
background-image: -moz-linear-gradient(top,#fafafa,#f7f7f7);
background-image: -o-linear-gradient(top,#fafafa,#f7f7f7);
background-image: -webkit-gradient(linear,left top,left bottom,from(#fafafa),to(#f7f7f7));
background-image: -webkit-linear-gradient(top,#fafafa,#f7f7f7);
background-image: -ms-linear-gradient(top,#fafafa,#f7f7f7);
border: 1px solid rgba(0,0,0,0.2);
color: #444;
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px;
cursor: default;
font-size: 11px;
font-weight: bold;
text-align: center;
white-space: nowrap;
margin-right: 16px;
height: 27px;
line-height: 27px;
min-width: 54px;
outline: 0;
padding: 0 8px;
font-weight: normal;

cursor: pointer;
}

table.table thead .sorting { background: url('../../images/sort_both.png') no-repeat center right; }
table.table thead .sorting_asc { background: url('../../images/sort_asc.png') no-repeat center right; }
table.table thead .sorting_desc { background: url('../../images/sort_desc.png') no-repeat center right; }

table.table thead .sorting_asc_disabled { background: url('../../images/sort_asc_disabled.png') no-repeat center right; }
table.table thead .sorting_desc_disabled { background: url('../../images/sort_desc_disabled.png') no-repeat center right; }